{#
vim:filetype=htmldjango
#}
{% extends '@AdminUI/base.html.twig' %}

{% block head %}
    {{ parent() }}
    <script>
        $(function() {
        // initialize Locale (removed for now because we don't have json file right now...
        // Locale.init({ lang: 'zh_tw' , dict_path: '/static/dict/' });
        // Action.plug(ActionGrowler);
        // jQuery("select, input:submit, input:button, input:text, input:checkbox, input:radio, input:file").uniform();
        });
    </script>
{% endblock %}

{% block body %}


{% block header %}
{% endblock %}

{% block operation %}
<div id="operation">  

    {% block menubar %}
        <div class="btn-group pull-left">
            {% if AdminUI.config('homeLink') %}
                <a class="btn" href="{{ AdminUI.config('homeLink')|raw}}">
                    <i class="fa fa-home"> </i> {{appname}}
                </a>
            {% endif %}
            {% if AdminUI.config('MenuStyle') == "aim" or AdminUI.config('MenuStyle') == "quickbox" %}
                <a id="menuBtn" class="btn">
                    <i class="fa fa-list"> </i>
                </a>
            {% endif %}
        </div>
    {% endblock %}

    {% block operation_buttons %}

    <div class="btn-group pull-right">

        {#
        <form style=" display: inline; margin:0; padding:0; " name="lang_select" method="post">
            <input type="hidden" name="__action" value="I18N::Action::ChooseLang"/>
            {% set currentLang = Kernel.locale.current %}
            {% set langList = Kernel.locale.getLanguages() %}
            <select name="lang" onchange=" this.form.submit();" style="margin:0;">
                {% for langId,label in langList %}
                    <option value="{{ langId }}" {% if langId == currentLang %} selected {% endif %}>{{ label }} </option>
                {% endfor %}
            </select>
        </form>
        #}

        {% if Kernel.currentUser.hasLoggedIn() %}
            <a class="btn" href="/bs/logout">{% trans 'Logout' %}</a>
        {% else %}
            <a class="btn" href="/bs/login">{% trans 'Login' %}</a>
        {% endif %}
    </div>
    {% endblock %}
</div>
{% endblock %}

{% block content %}
    <div class="panel-container">
        {% if not Request.param('in_window') %}
            {% if AdminUI.config('MenuTemplate') %}
                {% include AdminUI.config('MenuTemplate') with { "AdminUI": AdminUI } %}
            {% endif %}
        {% endif %}

        {{AdminUI.Menu|raw}}

        {# provide #panel, so that we can load by ajax #}
        <div id="panel" class="content-panel {% if Request.param('in_window') %}-in-window{% endif %}">
            {% block admin_panel %}
                {% if Action.results %}
                    {% for name, result in Action.results %}
                        {{ Web.render_result( name ) | raw }}
                    {% endfor %}
                {% endif %}
            {% endblock %}
        </div>
    </div>
{% endblock %}{# end of content #}

{% endblock %}{# end of body #}
